<div class="container m-5">
    <h1 class="text-center">Centro de mensajes</h1>

    <form class="d-flex flex-column justify-content-center" id="messageForm">
        <input placeholder="Ingrese su e-mail" class="form-control m-1 " type="email" name="email" id="usernameInput">
        <hr>

        <div id="messagesPool"></div>

        <input placeholder="Mensaje" class="form-control m-1" type="text" name="message" id="messageInput">
        <input class="btn btn-primary m-2" type="submit" value="Enviar">
    </form>
</div>